*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: cursive;
}
#logo{
	display: flex;
	color: white;
	text-align: center;
}
#logo img{
	height: 40px;
    filter: invert(1);
}

#navbar {
	background-color: #fb1717;
	padding: 12px 20px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
   /*justify-content: center;*/
   align-items: center;
}

#navbar li {
	list-style-type: none;
}
#navbar li a{
	text-decoration: none;
	padding:7px 29px;
	cursor: pointer; 
	font-size: 20px;
	color: white;
}
#navbar li a:hover{
	color: black;
	font-weight: bold;
}

#introsection{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    font-size: 27px;
	color: white;
    height: 425px;
    padding-bottom: 40px;
    background: url('static/adult-1850925_1920.jpg')center center;

}
#introsection div{
	font-size: 2.5rem;
} 
#introsection div.small{
	font-size: 35px;
}

#missionsection{
    height: 320px;
    background-color: white;
    margin: auto;
    width: 87%;
    display: block;
    justify-content: center;
    text-align: center;
}
#missionsection h2{
     text-align: center;
     padding-top: 20px;
     font-size: 32px;
}
.card{
	display: inline-block;
	border: 2px solid black;
	border-radius: 9px;
    width: 27%;
    margin: 23px 22px;
    height: 209px;
    background-color: #f1ebeb;
}
.card h3{
	text-align: center;
	margin:12px;
    font-family: inherit;
}
.card-box{
   display: flex;
   align-items: center;
   justify-content: space-evenly;;
}
.card-img{
   height:100px;
    padding:0 14px; 
}
.card-img img{
   height:inherit;
}
#introsponser{
  display: flex;
  flex-direction: column;
  background-color: #ff8f8f;
  height: 248px; 
}
#introsponser h2{
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
}
#sponser{
	height: 120px;
	max-width: 1000px; 
	margin: auto;
	margin-top: 9px;
}
.spimage{
   height: 80%;
   margin: 20px;
   border-radius: 9px;
}

#footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	background-color: black;
	color: white;
}